/* Navigation.css */

.navbar-custom {
    background-color: #ffffff;
    /* 设置背景颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 添加阴影效果 */
    padding: 10px 20px;
    /* 添加内边距 */
}

.navbar-toggle {
    border: none;
    /* 移除边框 */
}

.navbar-logo {
    width: 50px;
    /* 设置 logo 图片的宽度 */
    height: 50px;
    /* 设置 logo 图片的高度 */
}

.navbar-link {
    color: #000000;
    /* 设置链接文本颜色 */
    font-weight: 500;
    /* 设置链接文本的字体粗细 */
    margin-right: 15px;
    /* 设置链接之间的右边距 */
}

.navbar-dropdown {
    margin-left: auto;
    /* 将下拉菜单右对齐 */
}

.navbar-user-image {
    width: 30px;
    /* 设置用户图像的宽度 */
    height: 30px;
    /* 设置用户图像的高度 */
    margin-right: 10px;
    /* 设置用户图像与用户名之间的右边距 */
    object-fit: cover;
    /* 缩放图像以适应大小，并裁剪超出部分 */
    border-radius: 50%;
    /* 将图像呈现为圆形 */
}

.navbar-logout-button {
    background-color: #dc3545;
    /* 设置按钮的背景颜色 */
    color: #ffffff;
    /* 设置按钮文本颜色 */
    border: none;
    /* 移除边框 */
    padding: 5px 10px;
    /* 添加内边距 */
    font-weight: 500;
    /* 设置按钮文本的字体粗细 */
    cursor: pointer;
    /* 添加指针样式以指示按钮可点击 */
}

.navbar-logout-button:hover {
    background-color: #c82333;
    /* 设置按钮在悬停时的背景颜色 */
}