.add-topic-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-topic-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-topic-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}